{% extends 'common_base.html' %}

{% block content %}
<style>
  p, ul li {font-size:1.125rem;}
  h2 {color:#000;}
  ul, ol {margin-left: 1.25rem;margin-bottom:25px;}
</style>

<div class="flex justify-center p-16">
  <div class="max-w-4xl w-full bg-white border rounded-lg py-10 px-24">
    <!-- Blog Title -->
    <h1 class="text-4xl font-bold text-center mb-12">
     AI Candidate Matching: The Future of Smart Recruiting
    </h1>

    <!-- Blog Content -->
    <div class="text-left text-gray-700 space-y-4">
      fgdfgdg
</div>
  </div>
</div>
{% endblock %} 