{% extends 'admin_base.html' %}

{% block title %}JobSeekers{% endblock %}

{% block content %}
<div class="">
  <div class="min-h-screen py-6">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Job Seekers</h1>
        <div class="rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6">
          <div class="flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-6">
              <div class="inline-block min-w-full align-middle">
                <table id="jobseekersTable" class="min-w-full border-separate border-spacing-0">
          <thead class="bg-gray-50">
            <tr>
              <th class="sticky top-0 z-10 border-b border-gray-300 bg-white/75 py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter sm:pl-6 lg:pl-8">Name</th>
              <th class="sticky top-0 z-10 border-b border-gray-300 bg-white/75 py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter sm:pl-6 lg:pl-2">Email</th>
              <th class="sticky top-0 z-10 border-b border-gray-300 bg-white/75 py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter sm:pl-6 lg:pl-2">Mobile</th>
              <th class="sticky top-0 z-10 border-b border-gray-300 bg-white/75 py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter sm:pl-6 lg:pl-2">Registered On</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            {% for data in result %}
            <tr class="hover:bg-gray-50">
              <td class="border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8 break-words max-w-[200px]">
                <div class="flex items">
                <img src="{{ data.profile_picture or url_for('static', filename='images/man.png') }}" alt="" srcset="" class="h-11 w-11 object-contain overflow-hidden rounded-full border p-1">
                <a href="{{ url_for('employer_view_jobseeker_profile', jobseeker_id=data.id) }}" class="m-2 text-blue-700 hover:text-blue-900">{{ data.name }}</a>
              </div>
              </td>
              <td class="whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm text-gray-500 sm:table-cell break-words max-w-[200px]">{{ data.email }}</td>
              <td class="whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{ data.phone_number }}</td>
              <td class="whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{ data.created_datetime }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
  </div>
  </div>

  <link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script>
  $(document).ready(function() {
    var table = $('#jobseekersTable').DataTable({
      columnDefs: [
      {
        targets: 3, // Creation Time column
        render: function(data, type, row) {
          if (!data) return "";

          const date = new Date(data);
          const day = date.getDate();
          const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                              "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
          const month = monthNames[date.getMonth()];
          const year = date.getFullYear();

          if (type === 'display' || type === 'filter') {
            return `${month} ${day},  ${year}`;
          }
          return date.getTime(); // use timestamp for sorting
        }
      },
      { width: "200px", targets: 0 },
      { width: "auto", targets: [1,2,3]}
    ],
      "order": [[3, 'desc']] 
    });
  });
</script>


{% endblock %}
