{% extends 'admin_base.html' %}

{% block title %}Jobs{% endblock %}

{% block content %}
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900">Jobs</h1>
      <p class="mt-2 text-sm text-gray-700">Manage all job listings, including published and draft jobs.</p>
    </div>
  </div>
  <div class="mt-8">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <button class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300" id="published-tab" onclick="showTab('published-posts')">
          Published
        </button>
        <button class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm text-gray-500 hover:text-gray-700 hover:border-gray-300" id="drafts-tab" onclick="showTab('draft-posts')">
          Drafts
        </button>
      </nav>
    </div>
    <div class="mt-4" id="published-posts">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-0">Position</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Salary</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Job Status</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Visibility</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Views</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Created Date</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Updated Date</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Applicants</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          {% for data in result %}
          {% if data.JobOpening.status == 'published' %}
          <tr class="hover:bg-gray-100">
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900">
              <a href="{{ url_for('admin_edit_post', job_id=data.JobOpening.id) }}" class="text-indigo-600 hover:text-indigo-900">{{ data.JobOpening.job_title }}</a>
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.salary }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.job_opening_status }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.status }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.job_opening_views }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.created_at.split('T')[0] }} {{ data.JobOpening.created_at.split('T')[1][:8] }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.updated_at.split('T')[0] }} {{ data.JobOpening.updated_at.split('T')[1][:8] }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              <a href="{{ url_for('job_applicants', job_id=data.JobOpening.id) }}" class="text-indigo-600 hover:text-indigo-900">{{ data.applicant_count }}</a>
              <button onclick="openModal('#deleteModal_{{ data.JobOpening.id }}')" class="ml-2 text-red-600 hover:text-red-900">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="mt-4 hidden" id="draft-posts">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <tr>
            <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-0">Position</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Salary</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Job Status</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Visibility</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Views</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Created Date</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Updated Date</th>
            <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Applicants</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          {% for data in result %}
          {% if data.JobOpening.status == 'draft' %}
          <tr class="hover:bg-gray-100">
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900">
              <a href="{{ url_for('admin_edit_post', job_id=data.JobOpening.id) }}" class="text-indigo-600 hover:text-indigo-900">{{ data.JobOpening.job_title }}</a>
            </td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.salary }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.job_opening_status }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.status }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.job_opening_views }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.created_at.split('T')[0] }} {{ data.JobOpening.created_at.split('T')[1][:8] }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.JobOpening.updated_at.split('T')[0] }} {{ data.JobOpening.updated_at.split('T')[1][:8] }}</td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
              <a href="{{ url_for('job_applicants', job_id=data.JobOpening.id) }}" class="text-indigo-600 hover:text-indigo-900">{{ data.applicant_count }}</a>
              <button onclick="openModal('#deleteModal_{{ data.JobOpening.id }}')" class="ml-2 text-red-600 hover:text-red-900">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  function showTab(tabId) {
    document.getElementById('published-posts').classList.add('hidden');
    document.getElementById('draft-posts').classList.add('hidden');
    document.getElementById(tabId).classList.remove('hidden');
  }
  function openModal(modalId) {
    document.querySelector(modalId).classList.remove('hidden');
  }
  function closeModal(modalId) {
    document.querySelector(modalId).classList.add('hidden');
  }
</script>
{% endblock %}
