{% extends 'admin_base.html' %}

{% block title %}JobSeekers{% endblock %}

{% block content %}
<link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" rel="stylesheet">
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card" style="padding-right: 0; padding-left: 0;">
      <div class="card">
        <div class="card-body" style="overflow-x: auto;">
          <div style="display:flex; justify-content:space-between;">
            <h2 class="m-0">JobSeekers</h2>
          </div>
          <table id="jobseekerTable" class="hover" style="width:100%;">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Registered On</th>
              </tr>
            </thead>
            <tbody>
              {% for data in result %}
              <tr style="max-height: 100px; overflow-y: auto;">
                <td class="py-1"><a href=#> {{ data.name }}</a></td>
                <td class="py-1 text-truncate">{{ data.email }}</td>
                <td class="py-1 text-truncate">{{ data.phone_number}}</td>
                <td class="py-1">{{ data.created_datetime.split('T')[0] }} {{ data.created_datetime.split('T')[1][:8] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script>
new DataTable('#jobseekerTable');
</script>
{% endblock %}
