{% extends 'base.html' %}

{% block title %}Reports{% endblock %}


<link rel="stylesheet" href="url_for('static', filename='assets/plugins/select2/css/select2.min.css')">
<link rel="stylesheet" href="url_for('static', filename='assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')">




{% block content %}
<style>
  .widget-card {
  border: 3px solid #ddd;
  border-radius: 0px;
  box-shadow: none;
  }
</style>
   {% if current_user.company == None %}
    <div class="alert alert-warning mt-1" role="alert">
        <i class="bi bi-exclamation-triangle-fill mr-1"></i>
        Register company to start posting jobs  <a href="{{url_for('company_register')}}" class="alert-link ml-1" style="text-decoration:none;">here</a>
    </div>
    {% endif %}


    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Reports</h1>
          </div><!-- /.col --><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
<div>
            <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small card -->
              <a href="{{ url_for('user_all_post') }}" style="text-decoration:none;">
          <div class="card widget-card">
            <div class="card-body">
             <div class="lead">
                Jobs
               </div>
            <div class="card-title">
              <h2>{{ total_jobs }}</h2>
            </div>
            </div>
          </div>
              </a>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
              <a href="{{ url_for('user_all_post') }}" style="text-decoration:none;">
          <div class="card widget-card">
            <div class="card-body">
             <div class="lead">
               Active Jobs
               </div>
            <div class="card-title">
              <h2>{{ in_progress_jobs }}</h2>
            </div>
            </div>
          </div>
                  </a>
            </div>

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
              <a href="{{ url_for('all_applicants') }}" style="text-decoration:none;">
            <div class="card widget-card">
            <div class="card-body">
             <div class="lead">
               Applicants
               </div>
            <div class="card-title">
              <h2>{{ applicants_count }}</h2>
            </div>
            </div>

          </div>
                </a>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
              <a href="{{ url_for('user_all_post') }}" style="text-decoration:none;">
            <div class="card widget-card">
            <div class="card-body">
             <div class="lead">
               Total Views
               </div>
            <div class="card-title">
              <h2>{{ total_views or 0 }} </h2>
            </div>
            </div>
          </div>
              </a>
          </div>
        </div>
  <div class="row">
          <div class="col-lg-6 ">
            <!-- small card -->
              <a href="{{ url_for('user_all_post') }}" style="text-decoration:none">
          <div class="card widget-card">
            <div class="card-body">
             <div class="lead">
                Job Status
               </div>
            <canvas id="jobsChart" class="mt-3"></canvas> <!-- Chart container -->

            </div>
          </div>
                  </a>

          </div>
          <!-- ./col -->

          <div class="col-lg-6 ">
            <!-- small card -->
              <a href="{{ url_for('all_applicants') }}" style="text-decoration:none">
          <div class="card widget-card">
            <div class="card-body">
             <div class="lead">
               Hiring Pipeline
               </div>
            <canvas id="applicantsChart" class="mt-3"></canvas>
            </div>
          </div>
              </a>
            </div>
</div>
    <div class="row mt-4">
    <div class="col-lg-6">
        <div class="card widget-card">
            <div class="card-body">
                <div class="lead">Top Industries by Job Openings</div>
                <canvas id="industryChart" class="mt-3"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card widget-card">
            <div class="card-body">
                <div class="lead">Top Jobs by Views</div>
                <canvas id="viewsChart" class="mt-3"></canvas>
            </div>
        </div>
    </div>
</div>

    <div class="row mt-4">
    <div class="col-lg-6">
        <div class="card widget-card">
            <div class="card-body">
                <div class="lead">Top Jobs by Applicants</div>
                <canvas id="applicantsTopJobsChart" class="mt-3"></canvas>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script>
        var ctx = document.getElementById('jobsChart').getContext('2d');
        var jobsChart = new Chart(ctx, {
            type: 'bar', // Specify bar chart type
            data: {
                labels: ['Total Jobs', 'Active Jobs', 'Applicants'], // X-axis labels
                datasets: [{
                    label: 'Jobs Data', // This label will not be displayed since legend is disabled
                    data: [{{ total_jobs }}, {{ in_progress_jobs }}, {{ applicants_count }}], // Values from variables
                    backgroundColor: ['#4CAF50', '#2196F3', '#FF9800'], // Solid colors (green, blue, orange)
                    borderColor: ['#4CAF50', '#2196F3', '#FF9800'], // Same colors as background (solid)
                    borderWidth: 1, // Border thickness
                    barPercentage: 0.7, // Controls bar width
                    categoryPercentage: 0.6, // Controls spacing between bars
                    borderRadius: 10, // Rounds the corners of bars
                }]
            },
            options: {
                layout: {
                    padding: {
                        top: 30 // Adds padding at the top for the labels
                    }

                },

                scales: {
                    x: {
                        grid: {
                            display: false // Remove horizontal grid lines
                        },
                        display: true, // Remove x-axis and labels

                        ticks: {
                            display: true, // Show y-axis labels (ticks)
                            font: {
                            size: 17 // Increase the Y-axis label font size
                        }

                        },
                    },
                    y: {
                        grid: {
                            display: false // Remove horizontal grid lines
                        },
                        display: false, // Remove y-axis and labels

                        beginAtZero: true, // Y-axis starts at 0
                    }
                },
            plugins: {
                legend: {
                    display: false // Hide the label from the top
                },
                tooltip: {
                    enabled: true // Keep tooltips on hover
                },
                datalabels: {
                    anchor: 'end',
                    align: 'top', // Align the labels at the top of each bar
                    color: '#000', // Color for the data labels
                    font: {
                        size: 17, // Increase the font size of the labels
                    },
                    formatter: (value) => value // Display the value on top of the bar
                }
            }
        },
        plugins: [ChartDataLabels] // Add ChartDataLabels plugin
    });
    </script>
<script>
    var ctx = document.getElementById('applicantsChart').getContext('2d');
    var applicantsChart = new Chart(ctx, {
        type: 'bar', // Specify bar chart type
        data: {
            labels: [
                {% for status in statuses %}
                    '{{ status.name }}',
                {% endfor %}
            ], // X-axis labels
            datasets: [{
                label: 'Applicant Count', // Label for the dataset
                data: [
                    {% for status in statuses %}
                        {{ status.applicant_count }},
                    {% endfor %}
                ], // Values from the statuses
                backgroundColor: ['#4CAF50', '#2196F3', '#FF9800', '#FFC107', '#FF5722', '#9C27B0'], // Solid colors for each bar
                borderColor: ['#4CAF50', '#2196F3', '#FF9800', '#FFC107', '#FF5722', '#9C27B0'], // Same colors as background
                borderWidth: 1, // Border thickness
                barPercentage: 0.9, // Controls bar width
                categoryPercentage: 0.9, // Controls spacing between bars
                borderRadius: 10, // Rounds the corners of bars
            }]
        },
        options: {
            layout: {
                padding: {
                    top: 30 // Adds padding at the top for the labels
                }
            },
            scales: {
                x: {
                    grid: {
                        display: false // Remove horizontal grid lines
                    },
                    display: true, // Display x-axis labels
                    ticks: {
                        display: true, // Show y-axis labels (ticks)
                        font: {
                            size: 17 // Increase the Y-axis label font size
                        }
                    },
                },
                y: {
                    grid: {
                        display: false // Remove horizontal grid lines
                    },
                    display: false, // Display y-axis labels
                    beginAtZero: true, // Y-axis starts at 0
                }
            },
            plugins: {
                legend: {
                    display: false // Hide the label from the top
                },
                tooltip: {
                    enabled: true // Keep tooltips on hover
                },
                datalabels: {
                    anchor: 'end',
                    align: 'top', // Align the labels at the top of each bar
                    color: '#000', // Color for the data labels
                    font: {
                        size: 17, // Increase the font size of the labels
                    },
                    formatter: (value) => value // Display the value on top of the bar
                }
            }
        },
        plugins: [ChartDataLabels] // Add ChartDataLabels plugin
    });
</script>
<script>
    var industryCtx = document.getElementById('industryChart').getContext('2d');
var industryChart = new Chart(industryCtx, {
    type: 'bar',
    data: {
        labels: [
            {% for industry in jobs_by_industry %}
                '{{ industry.industry or 'Unknown' }}',
            {% endfor %}
        ],
        datasets: [{
            label: 'Number of Jobs',
            data: [
                {% for industry in jobs_by_industry %}
                    {{ industry.job_count }},
                {% endfor %}
            ],
            backgroundColor: ['#4CAF50', '#2196F3', '#FF9800', '#FFC107', '#FF5722'],
            borderColor: ['#4CAF50', '#2196F3', '#FF9800', '#FFC107', '#FF5722'],
            borderWidth: 1,
            barPercentage: 0.7,
            categoryPercentage: 0.6,
            borderRadius: 10,
        }]
    },
    options: {
        scales: {
            x: {
                grid: { display: false },
                ticks: { font: { size: 17 } },
            },
            y: {
                grid: { display: false },
                beginAtZero: true,
            }
        },
        plugins: {
            legend: { display: false },
            tooltip: { enabled: true },
            datalabels: {
                anchor: 'end',
                align: 'top',
                color: '#000',
                font: { size: 17 },
                formatter: value => value
            }
        }
    }
});

</script>
<script>
    var viewsCtx = document.getElementById('viewsChart').getContext('2d');
var viewsChart = new Chart(viewsCtx, {
    type: 'bar',
    data: {
        labels: [
            {% for job in jobs_by_views %}
                '{{ job.job_title }}',
            {% endfor %}
        ],
        datasets: [{
            label: 'Views Count',
            data: [
                {% for job in jobs_by_views %}
                    {{ job.job_opening_views }},
                {% endfor %}
            ],
            backgroundColor: ['#4CAF50', '#2196F3', '#FF9800'],
            borderColor: ['#4CAF50', '#2196F3', '#FF9800'],
            borderWidth: 1,
            barPercentage: 0.7,
            categoryPercentage: 0.6,
            borderRadius: 10,
        }]
    },
    options: {
        scales: {
            x: {
                grid: { display: false },
                ticks: { font: { size: 17 } },
            },
            y: {
                grid: { display: false },
                beginAtZero: true,
            }
        },
        plugins: {
            legend: { display: false },
            tooltip: { enabled: true },
            datalabels: {
                anchor: 'end',
                align: 'top',
                color: '#000',
                font: { size: 17 },
                formatter: value => value
            }
        }
    }
});

</script>
<script>
    // Top Jobs by Applicants Chart
var applicantsTopJobsCtx = document.getElementById('applicantsTopJobsChart').getContext('2d');
var applicantsTopJobsChart = new Chart(applicantsTopJobsCtx, {
    type: 'bar',
    data: {
        labels: [
            {% for job in jobs_by_applicants %}
                '{{ job.JobOpening.job_title }}',
            {% endfor %}
        ],
        datasets: [{
            label: 'Applicants Count',
            data: [
                {% for job in jobs_by_applicants %}
                    {{ job.applicants_count }},
                {% endfor %}
            ],
            backgroundColor: ['#4CAF50', '#2196F3', '#FF9800'],
            borderColor: ['#4CAF50', '#2196F3', '#FF9800'],
            borderWidth: 1,
            barPercentage: 0.7,
            categoryPercentage: 0.6,
            borderRadius: 10,
        }]
    },
    options: {
        scales: {
            x: {
                grid: { display: false },
                ticks: { font: { size: 17 } },
            },
            y: {
                grid: { display: false },
                beginAtZero: true,
            }
        },
        plugins: {
            legend: { display: false },
            tooltip: { enabled: true },
            datalabels: {
                anchor: 'end',
                align: 'top',
                color: '#000',
                font: { size: 17 },
                formatter: value => value
            }
        }
    }
});

</script>


{% endblock %}

