{% extends 'admin_base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}
<link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" rel="stylesheet">
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900">Order History</h1>
      <p class="mt-2 text-sm text-gray-700">A detailed list of all orders including user details, plan, price, status, and purchase date.</p>
    </div>
  </div>
  {% if purchase_data %}
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table id="subscriptionTable" class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-0">User</th>
              <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Plan</th>
              <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Price</th>
              <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Status</th>
              <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Date of Purchase</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            {% for data in purchase_data | reverse %}
            <tr>
              <td class="whitespace-nowrap py-9 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ data.user.username }}</td>
              <td class="whitespace-nowrap px-3 py-9 text-sm text-gray-500">{{ data.plan.plan_type_name }}</td>
              <td class="whitespace-nowrap px-3 py-9 text-sm text-gray-500">{{ data.plan.fees }}</td>
              <td class="whitespace-nowrap px-3 py-9 text-sm text-gray-500">{{ data.status }}</td>
              <td class="whitespace-nowrap px-3 py-9 text-sm text-gray-500">{{ data.created_at.split('T')[0] }} {{ data.created_at.split('T')[1][:8] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% else %}
  <div class="flex justify-center items-center" style="height: 50vh;">
    <p class="text-gray-500">No Orders yet</p>
  </div>
  {% endif %}
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script>
  $(document).ready(function() {
    var table = $('#subscriptionTable').DataTable({
      "columnDefs": [
        { "type": "date-eu", targets: [4] } // specify the column containing date-time data
      ],
      "order": [[4, 'desc']] // sorting by the 5th column (date of purchase) in descending order
    });
  });
</script>
{% endblock %}
