<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block metatags %} 
    {% endblock %}

    <title>{% block title %}HireGen | AI Recruitment Software{% endblock %}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    theme: {
      extend: {},
    }
  }
</script>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9FZSTMCT2D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-9FZSTMCT2D');
    </script>
    <!-- End Google Analytics -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TDQPMPQ9');</script>
<!-- End Google Tag Manager -->
    <style>
  body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
      height: 100vh;
    }
.submenu-content {
  transition: all 0.3s ease;
}
.submenu-toggle.open .submenu-icon {
  transform: rotate(90deg);
}
</style>
{% block styles %}
{% endblock %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDQPMPQ9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>

    <div class="bg-white">
<header x-data="{ open: false }" class="container mx-auto px-6 sm:px-6 lg:px-8 flex justify-between items-center p-4">
  <div class="flex items-center w-full justify-between">
    <div class="logo">
      <a href="{{url_for('index')}}">
        <Image src="/static/images/logo.webp" alt="Logo" width="144" height="36" />
      </a>
    </div>

    <!-- Toggle Button -->
    <button @click="open = !open" class="ml-auto md:hidden" aria-label="Toggle Menu">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  </div>

  <!-- Navigation -->
  <nav :class="{'block': open, 'hidden': !open}" class="mt-4 md:mt-0 md:flex md:flex-row md:items-center md:space-x- w-full md:w-auto hidden">
    <ul class="flex flex-col md:flex-row items-start md:items-center space-y-2 md:space-y-0 md:space-x-10">
      <!-- Features -->
      <li class="relative group w-full md:w-auto">
        <a href="#" class="flex items-center py-2 text-base font-medium text-gray-700 hover:text-blue-600">
          Features <i class="fa-solid fa-chevron-down fa-sm ml-2"></i>
        </a>
        <ul class="absolute bg-white p-0 border w-52 top-10 left-0 hidden group-hover:block transition duration-150 ease-in-out shadow-lg rounded-lg z-50">
          <li><a href="{{url_for('recruitment_software')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Recruitment Software</a></li>
          <li><a href="{{url_for('applicant_tracking_feature')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Applicant Tracking</a></li>
          <li><a href="{{url_for('resume_parsing_feature')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Resume Parsing</a></li>
          <li><a href="{{url_for('recruitment_crm')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Recruitment CRM</a></li>
          <li><a href="{{url_for('candidate_matching')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Candidate Matching</a></li>
          <li><a href="{{url_for('ai_recruitment')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">AI Recruitment</a></li>
        </ul>
      </li>

      <!-- AI -->
      <li class="relative group w-full md:w-auto">
        <a href="#" class="flex items-center py-2 text-base font-medium text-gray-700 hover:text-blue-600">
          AI <i class="fa-solid fa-chevron-down fa-sm ml-2"></i>
        </a>
        <ul class="absolute bg-white p-0 border w-52 top-10 left-0 hidden group-hover:block transition duration-150 ease-in-out shadow-lg rounded-lg z-50">
          <li><a href="{{url_for('ai_resume_screening')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Resume Screening</a></li>
          <li><a href="{{url_for('ai_candidate_matching')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Candidate Matching</a></li>
          <li><a href="{{url_for('ai_chatbots')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Chatbots</a></li>
          <li><a href="{{url_for('ai_recruitment_analytics')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Recruitment Analytics</a></li>
        </ul>
      </li>

      <li><a href="{{url_for('user_view_plan')}}" class="block py-2 text-base font-medium text-gray-700 hover:text-blue-600">Pricing</a></li>
      <li><a href="{{url_for('all_companies')}}" class="block py-2 text-base font-medium text-gray-700 hover:text-blue-600">Companies</a></li>

      <!-- Resources -->
      <li class="relative group w-full md:w-auto">
        <a href="#" class="flex items-center py-2 text-base font-medium text-gray-700 hover:text-blue-600">
          Resources <i class="fa-solid fa-chevron-down fa-sm ml-2"></i>
        </a>
        <ul class="absolute bg-white p-0 border w-52 top-10 left-0 hidden group-hover:block transition duration-150 ease-in-out shadow-lg rounded-lg z-50">
          <li><a href="{{url_for('all_cms_post')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Blog</a></li>
          <li><a href="{{url_for('faqs')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">FAQ's</a></li>
          <li><a href="{{url_for('about_us')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">About Us</a></li>
          <li><a href="{{url_for('privacy_policy')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Privacy Policy</a></li>
          <li><a href="{{url_for('terms_of_service')}}" class="block px-4 py-3 text-sm hover:bg-slate-100">Terms of Service</a></li>
        </ul>
      </li>

      <li class="w-14"><a href="{{url_for('login')}}" class="block py-2 text-base font-medium text-gray-700 hover:text-blue-600">Sign in</a></li>
      <li>
        <a href="{{url_for('register')}}"
          class="inline-flex items-center justify-center gap-2 whitespace-nowrap font-medium bg-gradient-to-r from-blue-600 to-purple-600 hover:from-blue-700 hover:to-purple-700 text-white px-5 py-2 rounded-full">
          Free Trial
        </a>
      </li>
    </ul>
  </nav>
</header>
  </div>

    <div id="wrapper" class="w-full bg-white">
        {% block content %}
        {% endblock %}
    </div>



    <script>
      function openAnsSection(val) {
  var p = document.getElementById("para" + val);
  var svg = document.getElementById("path" + val);

  if (p.classList.contains("hidden")) {
    p.classList.remove("hidden");
    p.classList.add("block");
  } else {
    p.classList.remove("block");
    p.classList.add("hidden");
  }

  if (svg.classList.contains("hidden")) {
    svg.classList.remove("hidden");
    svg.classList.add("block");
  } else {
    svg.classList.remove("block");
    svg.classList.add("hidden");
  }
}
</script>
<script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>
</body>

<footer class="bg-white py-10 sm:py-20 border-y border-gray-200">
        <div class="container mx-auto px-6 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <div>
        <h3 class="mb-4 font-semibold">Services</h3>
        <ul class="flex flex-col gap-y-3 text-base ms-0">
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('ai_recruitment_service')}}">AI Recruitment</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('candidate_screening_service')}}">Candidate Screening</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('resume_parsing_service')}}">Resume Parsing</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('career_site_service')}}">Career Site</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('interview_scheduling_service')}}">Interview Scheduling</a></li>
        </ul>
      </div>
      <div>
        <h3 class="mb-4 font-semibold">Products</h3>
        <ul class="flex flex-col gap-y-3 text-base ms-0">
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('recruitment_software_product')}}">Recruitment Software</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('applicant_tracking_product')}}">Applicant Tracking Software</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('recruitment_crm_product')}}">Recruitment CRM</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('staffing_software_product')}}">Staffing Software</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('job_board_product')}}">Job Board Software</a></li>
        </ul>
      </div>
      <div>
        <h3 class="mb-4 font-semibold">AI Recruitment Tools</h3>
        <ul class="flex flex-col gap-y-3 text-base ms-0">
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('ai_agents')}}">AI Agents</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('recruitment_chatbots')}}">Recruitment Chatbots</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('ai_candidate_matching')}}">AI Candidate Matching</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('ai_job_matching')}}">AI Job Matching</a></li>
          <li><a class="text-slate-500 hover:text-slate-900 dark:hover:text-slate-300" href="{{url_for('ai_interview')}}">AI Interview</a></li>
        </ul>
      </div>
      <div>
        <div class="logo"><a href="{{url_for('index')}}">
        <Image
    alt="Logo"
    src="/static/images/logo.webp"
    class="w-auto h-6"
    width="6659"
    height="1086"
/>
        </a></div>
        <p class="mt-5 text-base text-slate-500">Hiregen.com leverages AI-driven recruitment software to streamline hiring, saving time and ensuring you attract, evaluate, and hire top talent effortlessly for your organization.</p>
      </div>
    </div>
  </div>
</footer>
<section class="bg-white py-6 sm:py-6">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col sm:flex-row justify-between items-center space-y-4 sm:space-y-0">
      <nav class="flex flex-wrap justify-center sm:justify-start space-x-4 gap-y-3 text-sm text-slate-600">
        <a class="hover:text-indigo-600" href="{{url_for('privacy_policy')}}">Privacy Policy</a>
        <a class="hover:text-indigo-600" href="{{url_for('terms_of_service')}}">Terms of Service</a>
        <a class="hover:text-indigo-600" href="{{url_for('homepage_contactus_submission')}}">Contact</a>
        <a class="hover:text-indigo-600" href="{{url_for('faqs')}}">FAQ</a>
        <a class="hover:text-indigo-600" href="{{url_for('about_us')}}">About</a>
        <a class="hover:text-indigo-600" href="https://hiregen.hiregen.com">Careers</a>
        <a class="hover:text-indigo-600" href="{{url_for('sitemap_table')}}">SiteMap</a>

      </nav>
      <div class="flex justify-center sm:justify-end space-x-4">
<a href="https://facebook.com/" class="text-gray-400 hover:text-indigo-600" aria-label="Facebook">
<i class="bi bi-facebook"></i>
</a>
<a href="https://twitter.com/" class="text-gray-400 hover:text-indigo-600" aria-label="Twitter">
<i class="bi bi-twitter-x"></i>
</a>
<a href="https://linkedin.com/" class="text-gray-400 hover:text-indigo-600" aria-label="LinkedIn">
<i class="bi bi-linkedin"></i>
</a>
<a href="https://youtube.com/" class="text-gray-400 hover:text-indigo-600" aria-label="YouTube">
<i class="bi bi-youtube"></i>
</a>
<a href="https://hiregen.com/sitemap/table" class="text-gray-400 hover:text-indigo-600" aria-label="RSS Feed">
<i class="bi bi-rss-fill"></i>
</a>

      </div>
    </div>
  </div>
</section>
</html>