{% extends 'base.html' %}


{% block title %}Register Company{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0">
                    <!-- Add a card header "Register" -->
                    <div class="card-header bg-white text-black text-center">
                        <h2>Register Company</h2>
                    </div>

                    <div class="card-body">

                        <form method="post" action="{{ url_for('company_register') }}" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}


                            <div class="mb-3">
                                <label for="company_logo" class="form-label">Company Logo:</label>
                                {{ form.company_logo(class="form-control", placeholder="Company Logo", required=True) }}
                            </div>
                            <small class="text-danger">{{ form.company_logo.errors[0] }}</small>


                            <div class="mb-3">
                                <label for="name" class="form-label">Company Name:</label>
                                {{ form.name(class="form-control", placeholder="Google", required=True) }}
                            </div>
                            <small class="text-danger">{{ form.name.errors[0] }}</small>

                                <label for="company_subdomain" class="form-label">Company Subdomain:</label>
                            <div class="input-group mb-3">
                                {{ form.company_subdomain(class="form-control", required=True) }}
                                <span class="input-group-text">.hiregen.com</span>
                            </div>
                            <small class="text-danger">{{ form.company_subdomain.errors[0] }}</small>


                            <div class="mb-3">
                                <label for="website_url" class="form-label">Website URL:</label>
                                {{ form.website_url(class="form-control", placeholder="google.com", required=True) }}
                            </div>
                            <small class="text-danger">{{ form.website_url.errors[0] }}</small>

                             <div class="mb-3">
                                <label for="location" class="form-label">Location:</label>
                                {{ form.location(class="form-control", placeholder="New Delhi, India", required=True) }}
                            </div>
                            <small class="text-danger">{{ form.location.errors[0] }}</small>

                             <div class="mb-3">
                                <label for="description" class="form-label">Description:</label>
                                {{ form.description(class="form-control", placeholder="Write in brief", required=True) }}
                            </div>
                            <small class="text-danger">{{ form.description.errors[0] }}</small>


                            <div class="d-grid gap-2 col-6 mx-auto">
                                {{ form.submit(class="btn btn-primary mt-2") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
