{% extends 'base.html' %}

{% block title %}Publish{% endblock %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <form method="post" action="{{ url_for('admin_edit_post', job_id=job_id) }}" id="editJobForm" class="">
  {{ form.hidden_tag() }}

<div class="grid grid-cols-1 lg:grid-cols-3 gap-10 px-6 py-6">

  <!-- Main Form -->
  <div class="col-span-2 bg-white dark:bg-gray-800 shadow rounded-lg px-8 pb-8">
    <div id="errorMessages" class="mb-4 text-red-600 dark:text-red-400"></div>
      <div class="mb-6">
            <h1 class="text-3xl font-bold text-gray-900 dark:text-white">Edit Job</h1>
          </div>
    <div class="form-group mb-4">
      <label for="job_title" class="block text-sm font-medium text-gray-900">{{ form.job_title.label }}</label>
      {{ form.job_title(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600", placeholder="Position") }}
      {% if form.job_title.errors %}
      <small class="text-red-600 dark:text-red-400">{{ form.job_title.errors[0] }}</small>
      {% endif %}
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
      <div class="form-group">
        <label for="salary" class="block text-sm font-medium text-gray-900">{{ form.salary.label }}</label>
        {{ form.salary(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600") }}
      </div>
      <div class="form-group">
        <label for="work_experience" class="block text-sm font-medium text-gray-900">{{ form.work_experience.label }}</label>
        {{ form.work_experience(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600") }}
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 mt-4">
      <div class="form-group">
        <label for="job_type" class="block text-sm font-medium text-gray-900">{{ form.job_type.label }}</label>
        {{ form.job_type(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600") }}
      </div>
      <div class="form-group">
        <label for="industry" class="block text-sm font-medium text-gray-900">{{ form.industry.label }}</label>
        {{ form.industry(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600") }}
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 mt-4">
    <div class="form-group">
      <label for="address_country" class="block text-sm font-medium text-gray-900">{{ form.address_country.label }}</label>
      {{ form.address_country(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600") }}
    </div>
      <div class="form-group">
        <label for="address_province" class="block text-sm font-medium text-gray-900">{{ form.address_province.label }}</label>
        {{ form.address_province(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600") }}
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 mt-4">
      <div class="form-group">
        <label for="address_city" class="block text-sm font-medium text-gray-900">{{ form.address_city.label }}</label>
        {{ form.address_city(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600") }}
      </div>
      <div class="form-group">
      <label for="address_postal_code" class="block text-sm font-medium text-gray-900">{{ form.address_postal_code.label }}</label>
      {{ form.address_postal_code(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600") }}
    </div>
    </div>



    <div class="form-group mt-4">
      <label for="job_description" class="block text-sm font-medium text-gray-900">{{ form.job_description.label }}</label>
      <div id="job_description"></div>
      {{ form.job_description(class="hidden mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600", id="hidden_job_description") }}
    </div>

    <div class="form-group mt-4">
      <label for="job_requirements" class="block text-sm font-medium text-gray-900">{{ form.job_requirements.label }}</label>
      <div id="job_requirements"></div>
      {{ form.job_requirements(class="hidden mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600", id="hidden_job_requirements") }}
    </div>

    <div class="form-group mt-4">
      <label for="job_benefits" class="block text-sm font-medium text-gray-900">{{ form.job_benefits.label }}</label>
      <div id="job_benefits"></div>
      {{ form.job_benefits(class="hidden mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600", id="hidden_job_benefits") }}
    </div>
  </div>

    <!-- Sidebar for Publish Job -->
   <aside class="col-span-1 bg-white dark:bg-gray-800 shadow rounded-lg p-6">
    <div class="mb-6">
      {{ form.publish(class="w-full items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 text-primary-foreground h-10 py-2 bg-blue-600 hover:bg-blue-700 px-4 text-white") }}
    </div>
    <div class="form-group mb-4">
      <label for="target_date" class="block text-sm font-medium text-gray-900">{{ form.target_date.label }}</label>
      {{ form.target_date(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600") }}
    </div>
    <div class="form-group mb-4">
      <label for="opening_date" class="block text-sm font-medium text-gray-900">{{ form.opening_date.label }}</label>
      {{ form.opening_date(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600") }}
    </div>
    <div class="form-group">
      <label for="job_opening_status" class="block text-sm font-medium text-gray-900">{{ form.job_opening_status.label }}</label>
      {{ form.job_opening_status(class="mt-2 block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-1 focus:outline-blue-600") }}
    </div>
  </aside>

</div>
  </form>
          <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
          <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
          <script>
            // Initialize Quill Editor
            var quillOptions = {
              theme: 'snow',
              placeholder: 'Write something...',
              modules: {
                toolbar: [
                  [{ 'header': [1, 2, false] }],
                  ['bold', 'italic', 'underline'],
                  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                  ['link', 'blockquote', 'code-block'],
                  ['clean']
                ]
              }
            };
          
            var quillRequirements = new Quill('#job_requirements', quillOptions);
            var quillBenefits = new Quill('#job_benefits', quillOptions);
            var quillDescription = new Quill('#job_description', quillOptions);
          
          
            document.addEventListener("DOMContentLoaded", function () {
    // Replace `form.content` with actual content retrieval
                var jobDescriptionContent = document.getElementById("hidden_job_description").value;
                var jobRequirementsContent = document.getElementById("hidden_job_requirements").value;
                var jobBenefitsContent = document.getElementById("hidden_job_benefits").value;

                quillDescription.root.innerHTML = jobDescriptionContent;
                quillRequirements.root.innerHTML = jobRequirementsContent;
                quillBenefits.root.innerHTML = jobBenefitsContent;
              });

          
            document.querySelector("#editjobForm").addEventListener('submit', function () {
                document.getElementById("hidden_job_description").value = quillDescription.root.innerHTML;
                document.getElementById("hidden_job_requirements").value = quillRequirements.root.innerHTML;
                document.getElementById("hidden_job_benefits").value = quillBenefits.root.innerHTML;
            });
          </script>
{% endblock %}
