{% if current_user.role == "user" %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'admin_base.html' %}
{% endif %}

{% block title %}Email Config{% endblock %}

{% block content %}
<div class="">
    <div class="min-h-screen py-0">
      <div class="container mx-auto max-w-2xl px-4 sm:px-6 lg:px-10">
        <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-6">Email Setup</h1>
        <div class="rounded-lg border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6  shadow-sm animate-fade-in">

    <div class="">
        <form method="post" action="{{ url_for('admin_email_setup') }}">
            {{ form.hidden_tag() }}
            <div class="space-y-6">
                <div>
                    <label for="smtp_server" class="block text-sm/6 font-medium text-gray-900">SMTP Server</label>
                    <div class="mt-2">
                        {{ form.smtp_server(class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-1 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6", placeholder="Enter SMTP Server", required=True) }}
                    </div>
                </div>

                <div>
                    <label for="smtp_port" class="block text-sm/6 font-medium text-gray-900">SMTP Port</label>
                    <div class="mt-2">
                        {{ form.smtp_port(class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-1 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6", placeholder="Enter SMTP Port", required=True) }}
                    </div>
                </div>

                <div>
                    <label for="smtp_username" class="block text-sm/6 font-medium text-gray-900">SMTP Username</label>
                    <div class="mt-2">
                        {{ form.smtp_username(class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-1 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6", placeholder="Enter SMTP Username", required=True) }}
                    </div>
                </div>

                <div>
                    <label for="smtp_password" class="block text-sm/6 font-medium text-gray-900">SMTP Password</label>
                    <div class="mt-2">
                        {{ form.smtp_password(class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-1 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6", placeholder="Enter SMTP Password", required=True) }}
                    </div>
                </div>

                <div>
                    <label for="sender_email" class="block text-sm/6 font-medium text-gray-900">Sender Email</label>
                    <div class="mt-2">
                        {{ form.sender_email(class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-1 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6", placeholder="Enter Sender Email", required=True) }}
                    </div>
                </div>
            </div>

            <div class="mt-8">
                {{ form.submit(class="inline-flex justify-center rounded-lg bg-blue-600 px-4 py-2 text-base font-semibold text-white hover:bg-blue-500 focus:outline-none focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-blue-500 active:text-white/70") }}
            </div>
        </form>
    </div>
</div>
        </div>
    </div>
    </div>
{% endblock %}
