{% if current_user %}
    {% if current_user.role == 'jobseeker' %}
        {% extends 'jobseeker/jobseeker_base.html' %}
    {% elif current_user.role == 'user' %}
        {% extends 'base.html' %}
    {% elif current_user.role == 'admin' %}
        {% extends 'admin_base.html' %}
    {% else %}
        {% extends 'jobseeker/jobseeker_base.html' %}
    {% endif %}
{% endif %}

  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      darkMode: 'class',
    };
  </script>


{% block title %}{{ job_details.job_title }}{% endblock %}

{% block content %}
<!-- Page Header -->
<div class="lg:flex lg:items-center lg:justify-between">
  <div class="min-w-0 flex-1">
    <h1 class="text-3xl font-bold leading-tight text-gray-900 dark:text-gray-100">{{ job_details.job_title }}</h1>
    <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
      {% if job_details.job_type %}
      <div class="mt-2 flex items-center text-sm text-gray-500 dark:text-gray-400">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z" />
</svg>
        {{ job_details.job_type }}
      </div>
      {% endif %}
      {% if job_details.salary %}
      <div class="mt-2 flex items-center text-sm text-gray-500 dark:text-gray-400">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
</svg>
        ${{ job_details.salary }}
      </div>
      {% endif %}
      {% if job_details.address_city or job_details.address_province or job_details.address_country %}
      <div class="mt-2 flex items-center text-sm text-gray-500 dark:text-gray-400">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
</svg>
        {{ job_details.address_city }}, {{ job_details.address_province }}, {{ job_details.address_country }}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="mt-5 flex lg:ml-4 lg:mt-0">
    {% if current_user.role == 'jobseeker' %}
<button type="button" id="apply-btn" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:hover:bg-indigo-400">Apply</button>
    {% endif %}
  </div>
</div>

<hr class="my-6 border-gray-200 dark:border-gray-700" />

<!-- Job Description -->
<div class="mt-6">
  <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-100">Job Description</h2>
  <p class="mt-4 text-gray-700 dark:text-gray-300">{{ job_details.job_description | safe or "No Description" }}</p>
</div>

<!-- Job Requirements -->
<div class="mt-6">
  <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-100">Job Requirements</h2>
  <p class="mt-4 text-gray-700 dark:text-gray-300">{{ job_details.job_requirements | safe or "No Requirements" }}</p>
</div>

<!-- Job Benefits -->
<div class="mt-6">
  <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-100">Job Benefits</h2>
  <p class="mt-4 text-gray-700 dark:text-gray-300">{{ job_details.job_benefits | safe or "No Benefits" }}</p>
</div>


<div class="relative z-10 hidden" id="applyModal" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!-- Background backdrop -->
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!-- Modal panel -->
      <div class="relative transform overflow-hidden rounded-lg bg-white dark:bg-gray-800 px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="flex justify-between items-center">
            <h3 class="text-base font-semibold text-gray-900 dark:text-gray-200" id="modal-title">Apply</h3>
            <button type="button" id="closeModal" class="text-gray-400 hover:text-gray-600 dark:hover:text-gray-400">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <form method="POST" enctype="multipart/form-data" action="{{ url_for('get_post_by_company_subdomain_and_slug', company_subdomain=job_details.company_subdomain, job_date=job_date, job_slug=job_slug) }}">
            {{ form.hidden_tag() }}
            {{ form.job_id() }}
            <div class="mt-4">
              <label for="{{ form.resume.id }}" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Select Resume from My Resumes:</label>
              {{ form.resume(class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 dark:border-gray-700 dark:bg-gray-700 dark:text-gray-200") }}
            </div>

            <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
              <button type="button" id="closeModalBtn" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Close</button>
              {{ form.apply(class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 sm:col-start-2") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const modal = document.getElementById('applyModal');
    const applyButton = document.querySelector('#apply-btn'); // Replace with the actual Apply button class or ID
    const closeModalButtons = [
      document.getElementById('closeModal'),
      document.getElementById('closeModalBtn')
    ];

    applyButton.addEventListener('click', function () {
      modal.classList.remove('hidden');
    });

    closeModalButtons.forEach(button => {
      button.addEventListener('click', function () {
        modal.classList.add('hidden');
      });
    });
  });
</script>


{% endblock %}
