{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block styles %}
    <style>
        .profile-card {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            padding: 20px;
            max-width: 900px;
        }
        .profile-img, .company-logo {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid #ddd;
        }
        .btn-edit {
            margin-top: 20px;
            background-color: #ffffff;
        }
        .img-upload {
            position: relative;
            display: inline-block;
        }
        .img-upload input {
            display: none;
        }
        .img-upload:hover .edit-icon {
            display: block;
        }
        .edit-icon {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 5px;
            border-radius: 50%;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="profile-card">
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="text-right">
                    <button type="button" class="btn btn-light btn-edit" id="editBtn"><i class="bi bi-pen"></i></button>
                </div>


                <div class="text-center">
                    <div class="img-upload">
                        <img src="{{ profile_picture or url_for('static', filename='images/man.png')}}" alt="Profile Picture" class="profile-img">
                        {{ form.profile_picture.label(class="edit-icon fas fa-camera") }}
                        {{ form.profile_picture(class="d-none") }}
                    </div>
                </div>
                <hr>

                <h5 class="mb-3">Personal Details</h5>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.firstname.label() }}
                        {{ form.firstname(class="form-control", disabled=True) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.lastname.label() }}
                        {{ form.lastname(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.username.label() }}
                        {{ form.username(class="form-control", disabled=True) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.email.label() }}
                        {{ form.email(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.phone_number.label() }}
                    {{ form.phone_number(class="form-control", disabled=True) }}
                </div>

                <h5 class="mb-3">Company Details</h5>
                {% if is_company_registered %}
                <div class="text-center">
                    <div class="img-upload">
                        <img src="{{ company['company_logo'] or 'default-company.png' }}" alt="Company Logo" class="company-logo">
                        {{ form.company_logo.label(class="edit-icon fas fa-camera") }}
                        {{ form.company_logo(class="d-none") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.company_name.label() }}
                    {{ form.company_name(class="form-control", disabled=True) }}
                </div>
                <div class="form-group">
                    {{ form.company_location.label() }}
                    {{ form.company_location(class="form-control", disabled=True) }}
                </div>
                <div class="form-group">
                    {{ form.company_website.label() }}
                    {{ form.company_website(class="form-control", disabled=True) }}
                </div>
                <div class="form-group">
                    {{ form.company_description.label() }}
                    {{ form.company_description(class="form-control", disabled=True, rows=10) }}
                </div>
                {% else %}
                <a href="{{url_for('company_register')}}"> Add Company </a>
                {% endif %}

                <hr>
                <h5 class="mb-3">Plan Details</h5>
                <p><strong>Current Plan:</strong> {{ current_plans[0]['plan_name'] }}</p>
                <p><strong>Plan Status:</strong> {{ current_plans[0]['status'] }}</p>

                {{ form.submit(class="btn btn-success d-none", id="saveBtn") }}
                {{ form.cancel(class="btn btn-secondary d-none", id="cancelBtn") }}
            </form>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
        document.getElementById('editBtn').addEventListener('click', function() {
            var fields = document.querySelectorAll('input, textarea');
            fields.forEach(function(field) {
                field.disabled = false;
            });
            document.getElementById('editBtn').classList.add('d-none');
            document.getElementById('saveBtn').classList.remove('d-none');
            document.getElementById('cancelBtn').classList.remove('d-none');
        });

        document.getElementById('cancelBtn').addEventListener('click', function() {
            var fields = document.querySelectorAll('input, textarea');
            fields.forEach(function(field) {
                field.disabled = true;
            });
            document.getElementById('editBtn').classList.remove('d-none');
            document.getElementById('saveBtn').classList.add('d-none');
            document.getElementById('cancelBtn').classList.add('d-none');
        });
    </script>
{% endblock %}

