{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-0">
                    <!-- Add a card header "Register" -->
                    <div class="card-header bg-white text-black text-center">
                        <h2>Register</h2>
                    </div>

                    <div class="card-body">

                        {% if form.errors %}
                            <div class="alert" role="alert">
                                <div>
                                    {% for field, errors in form.errors.items() %}
                                        <p class="text-danger">{{ errors[0] }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="flashes alert">
                                {% for message in messages %}
                                    <p class="text-danger">{{ message }}</p>
                                {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}

                        <form method="post" action="{{ url_for('register') }}" id="registeration_form">
    {{ form.hidden_tag() }}
<div class="row">

    <div class="mb-3 w-50">
        <label for="firstname" class="form-label visually-hidden" name="firstname">Firstname:</label>
        {{ form.firstname(class="form-control", placeholder="John", required=True) }}
    </div>
    <div class="mb-3 w-50">
        <label for="lastname" class="form-label visually-hidden" name="lastname">Lastname:</label>
        {{ form.lastname(class="form-control", placeholder="Doe", required=True) }}
    </div>
</div>
    <div class="mb-3">
        <label for="username" class="form-label visually-hidden" name="username">Username:</label>
        {{ form.username(class="form-control", placeholder="Username", required=True) }}
    </div>
    <div class="mb-3">
        <label for="phone_number" class="form-label visually-hidden" name="phone_number">Mobile:</label>
        {{ form.phone_number(class="form-control", placeholder="Mobile", required=True) }}
    </div>


    <div class="mb-3">
        <label for="email" class="form-label visually-hidden" name="email">Email:</label>
        {{ form.email(class="form-control", placeholder="Email", required=True) }}
    </div>

    <div class="mb-3">
        <label for="password" class="form-label visually-hidden" name="password">Password:</label>
        {{ form.password(class="form-control", placeholder="Password", required=True) }}
    </div>

    <div class="mb-3">
        <label for="confirm_password" class="form-label visually-hidden" name="confirm_password">Confirm Password:</label>
        {{ form.confirm_password(class="form-control", placeholder="Confirm Password", required=True) }}
    </div>

                            <div class="d-grid gap-2 col-6 mx-auto mb-3">
                                {{ form.submit(class="btn btn-primary mt-2") }}
                            </div>

    <p class="text-center">Already have an account? <a href="{{ url_for('login') }}" class="text-muted">Login here</a></p>
</form>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
