

{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
<style>
   /* New CSS */
   body { background-color: #fff; /* Light gray background */}
   a.login-logo {
            height: 36px;
            width: 36px;
        }

        a.login-logo img {
            object-fit: contain;
        }
   /* New CSS */
</style>



<div class="isolate flex min-h-dvh items-center justify-center min-h-dvh flex-col p-2 bg-white">
    <div class="w-full max-w-sm ring-black/5">
                <form method="post" action="{{ url_for('reset_password', token=token) }}" class="">
                            {{ form.hidden_tag() }}
                            <div class="flex items-start mb-10">
                                <a title="Home" class="login-logo2" href="/">
                                    <image src="{{ url_for('static', filename='images/logo.webp') }}" alt="Logo" width="130" class="object-contain text-zinc-950 dark:text-white forced-colors:text-[CanvasText]" />
                                </a>
                            </div>
                    <h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white">Reset your password</h1>
                    <p class="text-base/6 text-zinc-500 sm:text-sm/6 dark:text-zinc-400 mb-6">Enter your email and we’ll send you a link to reset your password.</p>

                    <div class="mt-8 space-y-3">
                        <label class="text-sm/5 font-medium" for="new_password">New Password</label>
                        {{ form.new_password(class="block w-full rounded-lg border border-transparent ring-1 shadow-sm ring-black/10 px-2 py-2 text-md sm:text-md/6 data-focus:outline focus:outline-blue-600 font-medium data-focus:outline-1 data-focus:-outline-offset-1 data-focus:outline-black", placeholder="", required=True) }}
                    </div>

                    <div class="mt-8 space-y-3">
                        <label class="text-sm/5 font-medium" for="confirm_new_password">Confirm New Password</label>
                        {{ form.confirm_new_password(class="block w-full rounded-lg border border-transparent ring-1 shadow-sm ring-black/10 px-2 py-2 text-md sm:text-md/6 data-focus:outline focus:outline-blue-600 font-medium data-focus:outline-1 data-focus:-outline-offset-1 data-focus:outline-black", placeholder="", required=True) }}
                    </div>

                    <div class="mt-8">
                        {{ form.submit(class="text-white bg-blue-600 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full") }}
                    </div>
                </form>
            </div>
        </div>

{% endblock %}