{% extends 'common_base.html' %}

{% block content %}
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto m-7">
      <h1 class="text-base font-semibold text-gray-900">Sitemaps</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all sitemaps</p>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black/5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <tbody class="bg-white">
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Pages</td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <a href="{{url_for('sitemap_by_key', sitemap_key='pages')}}" class="text-indigo-600 hover:text-indigo-900">See XML Sitemap<span class="sr-only">, See XML Sitemap</span></a>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Companies</td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <a href="{{url_for('sitemap_by_key', sitemap_key='companies')}}" class="text-indigo-600 hover:text-indigo-900">See XML Sitemap<span class="sr-only">, See XML Sitemap</span></a>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Jobs</td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <a href="{{url_for('sitemap_by_key', sitemap_key='jobs')}}" class="text-indigo-600 hover:text-indigo-900">See XML Sitemap<span class="sr-only">, See XML Sitemap</span></a>
                </td>
              </tr>

              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Posts</td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <a href="{{url_for('sitemap_by_key', sitemap_key='posts')}}" class="text-indigo-600 hover:text-indigo-900">See XML Sitemap<span class="sr-only">, See XML Sitemap</span></a>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Complete sitemap</td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <a href="{{url_for('sitemap')}}" class="text-indigo-600 hover:text-indigo-900">See XML Sitemap<span class="sr-only">, See XML Sitemap</span></a>
                </td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}