{% extends 'base.html' %}

{% block title %}Create Tracker{% endblock %}

{% block content %}
<div class="py-6 px-4 sm:px-6 lg:px-8">
    <div class="min-h-screen py-6">
      <div class="container px-4 sm:px-6 lg:px-8 max-w-2xl mx-auto">
        <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">Create tracker</h1>
    </div>
        <div class="rounded-2xl border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6">
        <form method="post" action="{{ url_for('create_applicant_tracker') }}">
            {{ form.hidden_tag() }}

            <div class="mb-6">
                <label for="name" class="block text-sm font-medium text-gray-900 dark:text-gray-100">{{ form.name.label.text }}</label>
                <input type="text" id="name" name="name" class="mt-2 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-2 focus:outline-indigo-600" placeholder="Name" required>
            </div>

            <div class="mb-6">
                <label for="description" class="block text-sm font-medium text-gray-900 dark:text-gray-100">{{ form.description.label.text }}</label>
                <textarea id="description" name="description" rows="4" class="mt-2 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-2 focus:outline-indigo-600" placeholder="Description" required></textarea>
            </div>

            <div class="flex items-center mb-6">
                <input id="on_apply" name="on_apply" type="checkbox" class="h-4 w-4 text-blue-600 border-gray-300 dark:border-gray-600 rounded focus:ring-blue-500">
                <label for="on_apply" class="ml-2 block text-sm text-gray-900 dark:text-gray-100">{{ form.on_apply.label.text }}</label>
            </div>

            <div class="mb-6">
                <label for="job_status" class="block text-sm font-medium text-gray-900 dark:text-gray-100">{{ form.job_status.label.text }}</label>
                <input type="text" id="job_status" name="job_status" class="mt-2 block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-2 focus:outline-indigo-600" placeholder="Job Status" required>
            </div>

            <div class="flex justif-center">
                <button type="submit" class="rounded-md bg-slate-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-slate-500 focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create Tracker</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const nameInput = document.getElementById('name');
        const jobStatusInput = document.getElementById('job_status');

        if (nameInput && jobStatusInput) {
            nameInput.addEventListener('input', function() {
                const nameValue = this.value.toLowerCase().replace(/\s+/g, '_');
                jobStatusInput.value = nameValue;
            });
        }
    });
</script>
{% endblock %}
