{% extends 'admin_base.html' %}

{% block content %}
<section class="content">
  <div class="container mx-auto px-4 py-8">
    <!-- Profile Section -->
    <div class="text-center">
      <div class="relative inline-block">
        {% if profile_info.profile_picture %}
        <img class="w-32 h-32 rounded-full mx-auto" src="{{ profile_info.profile_picture }}" alt="User profile picture">
        {% else %}
        <img class="w-32 h-32 rounded-full mx-auto" src="{{ url_for('static', filename='images/man.png') }}" alt="User profile picture">
        {% endif %}
      </div>
    </div>

    <section class="content">
      <div class="container mx-auto px-4 py-8">
        <div class="overflow-hidden bg-white shadow sm:rounded-lg">
          <div class="px-4 py-6 sm:px-6">
            <h3 class="text-base/7 font-semibold text-gray-900">Profile Information</h3>
            <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">Personal details and contact information.</p>
          </div>
          <div class="border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-900">Full Name</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">{{ profile_info.name }}</dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-900">Email Address</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">{{ profile_info.email }}</dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-900">Phone Number</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">{{ profile_info.phone_number }}</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </section>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mt-6">
      <div class="overflow-hidden rounded-md bg-white shadow">
        <ul role="list" class="divide-y divide-gray-200">
          <li class="px-6 py-4"><a href="#profileSummary" class="text-gray-800 hover:text-purple-500">Profile Summary</a></li>
          <li class="px-6 py-4"><a href="#education" class="text-gray-800 hover:text-purple-500">Education</a></li>
          <li class="px-6 py-4"><a href="#experience" class="text-gray-800 hover:text-purple-500">Experience</a></li>
          <li class="px-6 py-4"><a href="#internships" class="text-gray-800 hover:text-purple-500">Internships</a></li>
          <li class="px-6 py-4"><a href="#projects" class="text-gray-800 hover:text-purple-500">Projects</a></li>
          <li class="px-6 py-4"><a href="#accomplishments" class="text-gray-800 hover:text-purple-500">Accomplishments</a></li>
        </ul>
      </div>

      <div class="col-span-3 space-y-6">
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="profileSummary">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">About</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            <p class="text-sm">{{ profile_info.profile_summary.content if profile_info.profile_summary else 'No information available.' }}</p>
          </div>
        </div>

        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="education">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">Education</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            {% for education in profile_info.education %}
            <p class="text-sm">{{ education.degree }} in {{ education.field_of_study }} from {{ education.institution_name }}</p>
            {% endfor %}
          </div>
        </div>

        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="experience">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">Experience</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            {% for experience in profile_info.experiences %}
            <p><span class="font-semibold">{{ experience.position }}</span> <em class="font-light text-sm">at</em> <span class="font-semibold">{{ experience.company_name }}</span></p>
            <p class="text-sm">({{ experience.start_date }} - {{ experience.end_date or 'Present' }})</p>
            <p class="text-xs">{{ experience.responsibilities }}</p>
            {% endfor %}
          </div>
        </div>

                        <!-- Internships -->
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="internships">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">Internships</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            {% for internship in profile_info.internships %}
            <p><span class="font-semibold">{{ internship.position }} </span> <em class="font-light text-sm"> at </em> <span class="font-semibold"> {{ internship.company_name }} </span> </p>
            <p class="text-sm">({{ internship.start_date }} - {{ internship.end_date or 'Present' }})</p>
            <p class="text-xs">{{ internship.job_description }}</p>
            {% endfor %}
          </div>
        </div>

        <!-- Projects -->
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="projects">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">Projects</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            {% for project in profile_info.projects %}
            <p class="font-semibold">{{ project.title }}</p>
            <p class="text-xs">{{ project.description }}</p>
            <p><a href="{{ project.project_url }}" class="text-purple500 hover:underline">{{ project.project_url }}</a></p>
            {% endfor %}
          </div>
        </div>

        <!-- Accomplishments -->
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="accomplishments">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">Accomplishments</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            {% for accomplishment in profile_info.accomplishments %}
            <p class="font-semibold">{{ accomplishment.title }} - {{ accomplishment.achievement_date }}</p>
            <p class="text-xs">{{ accomplishment.description }}</p>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
