{% extends 'base.html' %}

{% block title %} Applicant Tracking{% endblock %}

{% block content %}
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900 dark:text-gray-100">Applicant Tracking</h1>
      <p class="mt-2 text-sm text-gray-700 dark:text-gray-300">Manage and review all your applicants here.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <button type="button" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:hover:bg-indigo-400" onclick="openFilterDrawer()">Filter</button>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300 dark:divide-gray-700">
          <thead>
            <tr>
              <th scope="col" class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 dark:text-gray-400 sm:pl-0">Name</th>
              <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 dark:text-gray-400">Job</th>
              <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 dark:text-gray-400">Status</th>
              <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 dark:text-gray-400">Score</th>
              <th scope="col" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 dark:text-gray-400">Date</th>
              <th scope="col" class="relative py-3 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white dark:divide-gray-800 dark:bg-gray-900">
            {% for data in result %}
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 dark:text-gray-100 sm:pl-0">
                <div class="flex items-center">
                  <img class="h-10 w-10 rounded-full" src="{{ data.job_seeker_profile_picture or url_for('static', filename='images/man.png') }}" alt="">
                  <div class="ml-4">
                    <div class="font-medium text-gray-900 dark:text-gray-100">{{ data.applicant_name }}</div>
                    <div class="text-gray-500 dark:text-gray-400">{{ data.applicant_email }}</div>
                  </div>
                </div>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400">
                <a href="{{ data.job_url }}" class="text-indigo-600 hover:text-indigo-900 dark:text-indigo-400 dark:hover:text-indigo-300">{{ data.job_title }}</a>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400">
                <select class="rounded-md border-gray-300 shadow-sm focus:ring-indigo-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-100 dark:focus:ring-indigo-500" id="status-select-{{ data.id }}" onchange="updateApplicationStatus('{{ data.id }}')">
                  {% for s in statuses %}
                    <option value="{{ s.job_status }}" {% if data.application_status == s.job_status %}selected{% endif %}>{{ s.name.capitalize() }}</option>
                  {% endfor %}
                </select>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400">
                <div class="relative flex justify-center">
                  <svg class="h-10 w-10" viewBox="0 0 36 36">
                    <path stroke="#d3d3d3" stroke-width="3.8" fill="none" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <path stroke="rgb(2,121,2)" stroke-dasharray="{{ data.applicant_score }}, 100" stroke-width="3.8" stroke-linecap="round" fill="none" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <text x="18" y="18.35" font-size="8" text-anchor="middle" fill="#000">{{ data.applicant_score }}%</text>
                  </svg>
                </div>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 dark:text-gray-400">{{ data.application_date }}</td>
              <td class="whitespace-nowrap px-3 py-4 text-right text-sm font-medium">
                <button type="button" class="text-indigo-600 hover:text-indigo-900 dark:text-indigo-400 dark:hover:text-indigo-300" onclick="viewApplicantDetails('{{ data.id }}', '{{ data.applicant_name }}', '{{ data.application_status }}', '{{ data.applicant_email }}', '{{ data.application_date }}', '{{ data.resume }}', '{{ data.applicant_score }}', '{{ data.job_seeker_profile_picture or url_for('static', filename='images/man.png') }}')">Details</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="filterDrawer" class="fixed inset-0 z-10 hidden">
  <div class="absolute inset-0 bg-gray-500/75 dark:bg-gray-900/75" onclick="closeFilterDrawer()"></div>
  <div class="fixed inset-y-0 right-0 max-w-md bg-white dark:bg-gray-800 shadow-xl">
    <div class="p-6">
      <div class="flex justify-between items-center">
        <h2 class="text-lg font-semibold text-gray-900 dark:text-gray-100">Filter Options</h2>
        <button type="button" class="text-gray-400 hover:text-gray-500 dark:hover:text-gray-300" onclick="closeFilterDrawer()">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <form id="filter-form" action="{{ url_for('employer_applicants_filter') }}" method="get" class="mt-4">
        <div class="mb-4">
          <label for="application_start_date" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Start Date</label>
          <input type="date" id="application_start_date" name="application_start_date" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-100">
        </div>
        <div class="mb-4">
          <label for="application_end_date" class="block text-sm font-medium text-gray-700 dark:text-gray-300">End Date</label>
          <input type="date" id="application_end_date" name="application_end_date" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-600 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-100">
        </div>
        <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 dark:bg-indigo-500 dark:hover:bg-indigo-400">Apply Filters</button>
      </form>
    </div>
  </div>
</div>

<div id="applicantDetailsDrawer" class="fixed inset-0 z-10 hidden">
  <div class="absolute inset-0 bg-gray-500/75 dark:bg-gray-900/75" onclick="closeApplicantDetailsDrawer()"></div>
  <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
    <div class="pointer-events-auto w-screen max-w-md bg-white dark:bg-gray-800 shadow-xl">
      <div class="flex h-full flex-col overflow-y-scroll py-6">
        <div class="px-4 sm:px-6">
          <div class="flex items-start justify-between">
            <h2 class="text-base font-semibold text-gray-900 dark:text-gray-100" id="applicantDetailsTitle">Applicant Details</h2>
            <button type="button" class="relative rounded-md bg-white text-gray-400 hover:text-gray-500 dark:bg-gray-800 dark:hover:text-gray-300" onclick="closeApplicantDetailsDrawer()">
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div id="applicantDetailsContent" class="relative mt-6 flex-1 px-4 sm:px-6">
          <!-- Dynamic content -->
        </div>
      </div>
    </div>
  </div>
</div>


<script>
function openFilterDrawer() {
  document.getElementById('filterDrawer').classList.remove('hidden');
}

function closeFilterDrawer() {
  document.getElementById('filterDrawer').classList.add('hidden');
}

function openApplicantDetailsDrawer() {
  document.getElementById('applicantDetailsDrawer').classList.remove('hidden');
}

function closeApplicantDetailsDrawer() {
  document.getElementById('applicantDetailsDrawer').classList.add('hidden');
}

function viewApplicantDetails(id, name, status, email, date, resume, score, profilePicture) {
  openApplicantDetailsDrawer();
  const content = document.getElementById('applicantDetailsContent');
  content.innerHTML = `
    <div class="pb-6">
      <div class="relative h-40 sm:h-56">
        <img class="absolute h-full w-full object-cover" src="${profilePicture}" alt="Applicant Photo">
      </div>
      <div class="mt-6 px-4 sm:mt-8 sm:flex sm:items-end sm:px-6">
        <div class="sm:flex-1">
            <div>
              <dt class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Name</dt>
              <dd class="px-3 py-3 text-left text-xs font-medium tracking-wide text-gray-800">${name}</dd>
            </div>
            <div>
              <dt class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Email</dt>
              <dd class="px-3 py-3 text-left text-xs font-medium tracking-wide text-gray-800">${email}</dd>
            </div>

          <dl class="mt-5 space-y-3">
            <div>
              <dt class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Date Applied</dt>
              <dd class="px-3 py-3 text-left text-xs font-medium tracking-wide text-gray-800">${date}</dd>
            </div>
            <div>
              <dt class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Score</dt>
              <dd class="px-3 py-3 text-left text-xs font-medium tracking-wide text-gray-800">${score}%</dd>
            </div>
            <div>
              <dt class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500">Status</dt>
              <dd class="mt-1">
                <div class="relative mt-2 px-3">
                  <select class="rounded-md border-gray-300 shadow-sm focus:ring-indigo-600" id="status-select-drawer-${id}" onchange="updateApplicationStatus(${id}, true)">
                    {% for s in statuses %}
                    <option value="{{ s.job_status }}" ${status === '{{ s.job_status }}' ? 'selected' : ''}>{{ s.name.capitalize() }}</option>
                    {% endfor %}
                  </select>
                </div>
              </dd>
            </div>
            <div>
              <a href="${resume}" class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-indigo-600">View Resume</a>
            </div>
          </dl>
        </div>
      </div>
    </div>
  `;
}

function updateApplicationStatus(application_id, fromDrawer = false) {
  const selectId = fromDrawer ? `status-select-drawer-${application_id}` : `status-select-${application_id}`;
  const statusSelect = document.getElementById(selectId);
  const newStatus = statusSelect.value;

  fetch(`/update-application-status`, {
    method: 'POST',
    body: JSON.stringify({ id: application_id, newStatus: newStatus }),
    headers: { 'Content-Type': 'application/json' },
  })
  .then(response => response.json())
  .then(data => {
    console.log('Status updated:', data);
    if (!fromDrawer) {
      window.location.reload();
    }
  })
  .catch(error => console.error('Error updating status:', error));
}
</script>
{% endblock %}
