{% extends 'jobseeker/jobseeker_base.html' %}

{% block title %} Applications {% endblock %}

{% block content %}
<div class="">
  <div class="min-h-screen py-0">
    <div class="containerr mxauto px-4 sm:px-6 lg:px-0">
      
      <div class="sm:flex-auto mb-6">
        <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">Applications</h1>
      </div>

<div class="rounded-lg border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-6  shadow-sm animate-fade-in">
  <div class="flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-6">
      <div class="inline-block min-w-full align-middle">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50 dark:bg-gray-900">
            <tr>
              <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white/75 py-3.5 px-6 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter">Job</th>
              <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-white/75 py-3.5 px-6 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter">Company</th>
              <th scope="col" class=" sticky top-0 z-10 border-b border-gray-300 bg-white/75 py-3.5 px-6 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter">Application Status</th>
              <th scope="col" class=" sticky top-0 z-10 border-b border-gray-300 bg-white/75 py-3.5 px-6 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter">Date</th>
              <th scope="col" class=" sticky top-0 z-10 border-b border-gray-300 bg-white/75 py-3.5 px-6 text-left text-sm font-semibold text-gray-900 backdrop-blur-sm backdrop-filter">Visit</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 dark:divide-gray-700 bg-white dark:bg-gray-800">
            {% for data in result %}
            <tr class="hover:bg-gray-50">
              <td class="whitespace-nowrap py-2 px-4 text-sm font-medium text-gray-900 dark:text-gray-200 sm:pl-6">{{ data.job_title }}</td>
              <td class="flex whitespace-nowrap py-2 px-4 text-sm font-medium text-gray-900 dark:text-gray-200 sm:pl-6"><a class="flex" href="{{url_for('company_details_by_company_subdomain', company_subdomain=data.company.company_subdomain )}}"><span class="mr-1"><img src="{{data.company.company_logo}}" class="mt-1 size-5 rounded-full"></span><span class="mt-1">{{ data.company.name }}</span></a></td>
              <td class="whitespace-nowrap py-2 px-6 text-sm text-gray-500 dark:text-gray-400"><span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-md font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">{{ data.job_application_status.capitalize() }}</span></td>
              <td class="whitespace-nowrap py-2 px-4 text-sm text-gray-500 dark:textpython-gray-400">{{ data.application_date.split('T')[0] }}</td>
              <td class="whitespace-nowrap py-2 px-6 text-sm text-gray-500 dark:text-gray-400"> <a href="{{ data.url }}" target="_blank" rel="noopener noreferrer" class="text-indigo-600 hover:text-indigo-400">Job</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
