{% if current_user.role == 'jobseeker' %}
{% extends 'jobseeker/jobseeker_base.html' %}
{% elif current_user.role == 'admin' %}
{% extends 'admin_base.html' %}
{% elif current_user.role == 'user' %}
{% extends 'base.html' %}
{% else %}
{% extends 'common_base.html' %}
{% endif %}


{% block content %}
<div class="">
    <div class="min-h-screen py-0">
      <div class="container max-w6xl mx-ato px-4 sm:px-6 lg:px-0">
        
    <!--Left Sidebar -->
<div class="">
    <h1 class="text-base text-gray-600 dark:text-white mb-4">{{total_job_count}} jobs found</h1>
  <div class="grid grid-cols-1 md:grid-cols-12 gap-10">
    <!-- Left Column: Filters (4/12) -->
    <div class="md:col-span-9">
            <div>
    <div id="job-results-container" class="container max-w-6xl mx-auto px-4 sm:px-6 lg:px-0">
        
        {% include 'jobseeker/_job_cards.html' %}
    </div>
    <div id="loading-indicator" class="text-center my-4 text-gray-500 hidden">Loading more jobs...</div>
    </div>
    <!--Right Sidebar -->
    </div>

    <!-- Right Column: Job Listings (8/12) -->
    <div class="md:col-span-3">
        <div class="rounded-lg border border-gray-200 bg-white shadow-sm p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-5 mb-5">
            <h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Quick job search</h2>
            <form method="GET" action="{{ url_for('jobs_search') }}">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-1 mb-4">
                <div>
                    <!-- <label class="block text-gray-700 font-medium" for="keyword">Search</label> -->
                    <input type="text" id="keyword" name="keyword" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-2 focus:outline-indigo-600" placeholder="Enter keyword (e.g., job title, company)" value="{{ prefilled_data.keyword if prefilled_data.keyword is not none else '' }}">
                </div>
                <div>
                    <!-- <label class="mt-4 block text-gray-700 font-medium" for="country">Country</label> -->
                    <select id="country" name="country" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-2 focus:outline-indigo-600">
                        <option value="">Select Country</option>
                        {% for country in countries %}
                            <option value="{{ country }}" {% if country == prefilled_data.country %}selected{% endif %}>{{ country }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <!-- <label class="mt-4 block text-gray-700 font-medium" for="state">State</label> -->
                    <input type="text" id="state" name="state" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-2 focus:outline-indigo-600" placeholder="Enter State" value="{{ prefilled_data.state if prefilled_data.state is not none else '' }}">
                </div>
            </div>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-1">
                <div>
                    <!-- <label class="mt-4 block text-gray-700 font-medium" for="job_type">Job Type</label> -->
                    <select id="job_type" name="job_type" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-2 focus:outline-indigo-600">
                        <option value="">Select Job Type</option>
                        {% for value, label in job_types %}
                            <option value="{{ value }}" {% if value == prefilled_data.job_type %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <!-- <label class="mt-4 block text-gray-700 font-medium" for="industry">Industry</label> -->
                    <select id="industry" name="industry" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-2 focus:outline-indigo-600">
                        <option value="">Select Industry</option>
                        {% for value, label in industries %}
                            <option value="{{ value }}" {% if value == prefilled_data.industry %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <!-- <label class="mt-4 block text-gray-700 font-medium" for="posted_on">Posted On</label> -->
                    <select id="posted_on" name="date_filter" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder-gray-400 focus:outline-1 focus:-outline-offset-2 focus:outline-indigo-600">
                        <option value="">Select Date Range</option>
                        <option value="last_24_hours" {% if prefilled_data.date_filter =='last_24_hours' %}selected{% endif %}>Last 24 hours</option>
                        <option value="last_week" {% if prefilled_data.date_filter =='last_week' %}selected{% endif %}>Last Week</option>
                        <option value="last_month" {% if prefilled_data.date_filter =='last_month' %}selected{% endif %}>Last Month</option>
                    </select>
                </div>
            
            <div>
                <button type="submit" class="w-full rounded-md bg-purple-500 px-3.5 py-2 text-sm font-semibold text-white shadow-xs hover:bg-purple-400 focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-purple-600">Search Jobs</button>
            </div>
        </div>
        </div>
        </form>
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>


<script>
let isLoading = false;
let skip = 10; // already loaded initial 10 from server
const limit = 10;

window.addEventListener('scroll', async () => {
    if (
        window.innerHeight + window.scrollY >= document.body.offsetHeight - 100 &&
        !isLoading
    ) {
        isLoading = true;

        const baseUrl = new URL(window.location.href);
        const params = new URLSearchParams(baseUrl.search);

        // Append pagination
        params.set('skip', skip);
        params.set('limit', limit);

        const url = `${baseUrl.pathname}?${params.toString()}`;

        try {
            const response = await fetch(url, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            });

            if (response.ok) {
    const html = await response.text();

    if (!html.trim()) {
        console.log('No more jobs to load.');
        return; // No more jobs
    }

    const jobContainer = document.getElementById('job-results-container');
    jobContainer.insertAdjacentHTML('beforeend', html);

    skip += limit;
    isLoading = false;
} else {
    console.error('Failed to fetch jobs');
}        } catch (error) {
            console.error('Error fetching jobs:', error);
        }
    }
});
    </script>
    
{% endblock %}
