{% extends 'jobseeker/jobseeker_base.html' %}

{% block content %}
<section class="content">
  <div class="container mx-auto px-4 py-8">
    <!-- Profile Section -->
    <div class="text-center">
      <div class="relative inline-block">
        {% if profile_info.profile_picture %}
        <img class="w-32 h-32 rounded-full mx-auto" src="{{ profile_info.profile_picture }}" alt="User profile picture">
        {% else %}
        <img class="w-32 h-32 rounded-full mx-auto" src="{{ url_for('static', filename='images/man.png') }}" alt="User profile picture">
        {% endif %}
        <button type="button" onclick="openModal('changePictureModal')" class="absolute top-0 right-0 bg-gray-200 hover:bg-gray-300 p-2 rounded-full shadow">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
</svg>

        </button>
      </div>
    </div>

    <section class="content">
  <div class="container mx-auto px-4 py-8">
    <!-- Profile Section -->
    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <div class="px-4 py-6 sm:px-6">
        <h3 class="text-base/7 font-semibold text-gray-900">Profile Information</h3>
        <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">Personal details and contact information.</p>
      </div>
      <div class="border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-900">Full Name</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
              <span class="grow">{{ profile_info.name }}</span>
        <span class="ml-4 shrink-0">
          <button onclick="openModal('updateNameModal')" type="button" class="rounded-md bg-white font-medium text-indigo-600 hover:text-indigo-500">Update</button>
        </span>
            </dd>
          </div>
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-900">Email Address</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
        <span class="grow">{{ profile_info.email }}</span>
        <span class="ml-4 shrink-0">
          <button onclick="openModal('updateEmailModal')" type="button" class="rounded-md bg-white font-medium text-indigo-600 hover:text-indigo-500">Update</button>
        </span>
            </dd>
          </div>
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-900">Phone Number</dt>
            <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                      <span class="grow">{{ profile_info.phone_number }}</span>
        <span class="ml-4 shrink-0">
          <button onclick="openModal('updatePhoneModal')" type="button" class="rounded-md bg-white font-medium text-indigo-600 hover:text-indigo-500">Update</button>
        </span>

            </dd>
          </div>
        </dl>
          <div class="px-4 py-6 sm:px-6 text-right">
    <a href="{{url_for('jobseeker_update_profile')}}" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
      Update Profile
    </a>
  </div>

      </div>
    </div>
  </div>
</section>


    <!-- Sidebar & Main Content -->
    <div class="grid grid-cols-1 md:grid-cols-4 gap-6 mt-6">
      <!-- Sidebar Navigation -->
      <div class="overflow-hidden rounded-md bg-white shadow">
        <ul role="list" class="divide-y divide-gray-200">
          <li class="px-6 py-4"><a href="#profileSummary" class="text-gray-800 hover:text-blue-600">Profile Summary</a></li>
          <li class="px-6 py-4"><a href="#education" class="text-gray-800 hover:text-blue-600">Education</a></li>
          <li class="px-6 py-4"><a href="#experience" class="text-gray-800 hover:text-blue-600">Experience</a></li>
          <li class="px-6 py-4"><a href="#internships" class="text-gray-800 hover:text-blue-600">Internships</a></li>
          <li class="px-6 py-4"><a href="#projects" class="text-gray-800 hover:text-blue-600">Projects</a></li>
          <li class="px-6 py-4"><a href="#accomplishments" class="text-gray-800 hover:text-blue-600">Accomplishments</a></li>
        </ul>
      </div>

      <!-- Main Content -->
      <div class="col-span-3 space-y-6">
        <!-- Profile Summary -->
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="profileSummary">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">About</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            <p class="text-sm">{{ profile_info.profile_summary.content if profile_info.profile_summary else 'No information available.' }}</p>
          </div>
        </div>

        <!-- Education -->
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="education">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">Education</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            {% for education in profile_info.education %}
            <p class="text-sm">{{ education.degree }} in {{ education.field_of_study }} from {{ education.institution_name }}</p>
            {% endfor %}
          </div>
        </div>

        <!-- Experience -->
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="experience">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">Experience</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            {% for experience in profile_info.experiences %}
            <p><span class="font-semibold">{{ experience.position }} </span> <em class="font-light text-sm">at</em> <span class="font-semibold">{{ experience.company_name }}</span></p>
            <p class="text-sm">({{ experience.start_date }} - {{ experience.end_date or 'Present' }})</p>
            <p class="text-xs">{{ experience.responsibilities }}</p>
            {% endfor %}
          </div>
        </div>

                <!-- Internships -->
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="internships">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">Internships</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            {% for internship in profile_info.internships %}
            <p><span class="font-semibold">{{ internship.position }} </span> <em class="font-light text-sm"> at </em> <span class="font-semibold"> {{ internship.company_name }} </span> </p>
            <p class="text-sm">({{ internship.start_date }} - {{ internship.end_date or 'Present' }})</p>
            <p class="text-xs">{{ internship.job_description }}</p>
            {% endfor %}
          </div>
        </div>

        <!-- Projects -->
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="projects">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">Projects</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            {% for project in profile_info.projects %}
            <p class="font-semibold">{{ project.title }}</p>
            <p class="text-xs">{{ project.description }}</p>
            <p><a href="{{ project.project_url }}" class="text-blue-600 hover:underline">{{ project.project_url }}</a></p>
            {% endfor %}
          </div>
        </div>

        <!-- Accomplishments -->
        <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow" id="accomplishments">
          <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <h3 class="text-base font-semibold text-gray-900">Accomplishments</h3>
          </div>
          <div class="px-4 py-5 sm:p-6">
            {% for accomplishment in profile_info.accomplishments %}
            <p class="font-semibold">{{ accomplishment.title }} - {{ accomplishment.achievement_date }}</p>
            <p class="text-xs">{{ accomplishment.description }}</p>
            {% endfor %}
          </div>
        </div>




        <!-- Other Sections: Internships, Projects, Accomplishments -->
        <!-- Repeat similar structure as above for each section -->
      </div>
    </div>
  </div>
</section>

<div id="updateNameModal" class="relative z-10 hidden flex items-center justify-center min-h-screen bg-gray-500/75" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto flex items-center justify-center">
    <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
      <h3 class="mb-2 text-base font-semibold text-gray-900" id="modal-title">Update Name</h3>
      <form method="POST" action="{{ url_for('collect_jobseeker_name') }}">
        {{ name_form.hidden_tag() }}
        <div>
          <label for="firstname" class="block text-sm/6 font-medium text-gray-900">First Name</label>
          {{name_form.firstname(class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-indigo-600")}}
        </div>
        <div class="mt-4">
          <label for="lastname" class="block text-sm/6 font-medium text-gray-900">Last Name</label>
          {{name_form.lastname(class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-indigo-600")}}
        </div>
        <div class="mt-5 sm:mt-6 text-right">
          {{ name_form.submit(class="bg-indigo-600 text-white px-3 py-2 rounded-md hover:bg-indigo-500") }}
          <button type="button" onclick="closeModal('updateNameModal')" class="bg-gray-300 px-3 py-2 rounded-md hover:bg-gray-400">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="updateEmailModal" class="relative z-10 hidden flex items-center justify-center min-h-screen bg-gray-500/75" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto flex items-center justify-center">
    <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
      <h3 class="mb-2 text-base font-semibold text-gray-900" id="modal-title">Update Email</h3>
      <form method="POST" action="{{ url_for('collect_jobseeker_email') }}">
        {{ email_form.hidden_tag() }}
        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
        {{email_form.email(class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-indigo-600")}}
        </div>
        <div class="mt-5 sm:mt-6 text-right">
          {{ email_form.submit(class="bg-indigo-600 text-white px-3 py-2 rounded-md hover:bg-indigo-500") }}
          <button type="button" onclick="closeModal('updateEmailModal')" class="bg-gray-300 px-3 py-2 rounded-md hover:bg-gray-400">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="updatePhoneModal" class="relative z-10 hidden flex items-center justify-center min-h-screen bg-gray-500/75" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto flex items-center justify-center">
    <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
      <h3 class="mb-2 text-base font-semibold text-gray-900" id="modal-title">Update Phone Number</h3>
      <form method="POST" action="{{ url_for('collect_jobseeker_phone') }}">
        {{ phone_form.hidden_tag() }}
        <div>
          <label for="phone_number" class="block text-sm/6 font-medium text-gray-900">Mobile</label>
          {{ phone_form.phone_number(class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 focus:outline-indigo-600") }}
        </div>
        <div class="mt-5 sm:mt-6 text-right">
          {{ phone_form.submit(class="bg-indigo-600 text-white px-3 py-2 rounded-md hover:bg-indigo-500") }}
          <button type="button" onclick="closeModal('updatePhoneModal')" class="bg-gray-300 px-3 py-2 rounded-md hover:bg-gray-400">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="changePictureModal" class="relative z-10 hidden flex items-center justify-center min-h-screen bg-gray-500/75" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto flex items-center justify-center">
    <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">

      <!-- Modal Title -->
      <h3 class="text-base font-semibold text-gray-900" id="modal-title">Change Profile Picture</h3>

      <!-- Profile Picture Update Form -->
      <form method="POST" action="{{ url_for('collect_jobseeker_profile_picture') }}" enctype="multipart/form-data">
        {{ profile_picture_form.hidden_tag() }}

        <!-- Photo Upload Component -->
        <div class="col-span-full mt-4">
          <label for="profile_picture" class="block text-sm/6 font-medium text-gray-900">Profile Picture</label>
          <div class="mt-2 flex items-center gap-x-3">
            <img id="previewImage" class="size-12 rounded-full object-cover border border-gray-300"
                 src="{{ profile_info.profile_picture or url_for('static', filename='images/man.png') }}"
                 alt="Profile Picture">
            {{ profile_picture_form.profile_picture(class="hidden", id="fileInput", onchange="previewFile()") }}
            <button type="button" onclick="document.getElementById('fileInput').click();"
                    class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
              Change
            </button>
          </div>
          {% if profile_picture_form.profile_picture.errors %}
          <p class="text-red-500 text-xs mt-2">{{ profile_picture_form.profile_picture.errors[0] }}</p>
          {% endif %}
        </div>

        <!-- Submit & Cancel Buttons -->
        <div class="mt-5 sm:mt-6 text-right">
          {{ profile_picture_form.submit(class="bg-indigo-600 text-white px-3 py-2 rounded-md hover:bg-indigo-500") }}
          <button type="button" onclick="closeModal('changePictureModal')" class="bg-gray-300 px-3 py-2 rounded-md hover:bg-gray-400">Cancel</button>
        </div>
      </form>

    </div>
  </div>
</div>

<script>
  function previewFile() {
    const file = document.getElementById("fileInput").files[0];
    const preview = document.getElementById("previewImage");

    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        preview.src = e.target.result;
      };
      reader.readAsDataURL(file);
    }
  }
</script>
<script>
  function openModal(modalId) {
    console.log("Opening Modal:", modalId); // Debugging Log
    let modal = document.getElementById(modalId);
    if (modal) {
      modal.classList.remove('hidden');
      modal.classList.add('flex');
    } else {
      console.error("Modal not found:", modalId);
    }
  }

  function closeModal(modalId) {
    console.log("Closing Modal:", modalId); // Debugging Log
    let modal = document.getElementById(modalId);
    if (modal) {
      modal.classList.add('hidden');
      modal.classList.remove('flex');
    } else {
      console.error("Modal not found:", modalId);
    }
  }

  // Close modal when clicking outside of the modal content
  document.addEventListener("click", function(event) {
    document.querySelectorAll(".relative.z-10").forEach((modal) => {
      let modalContent = modal.querySelector(".modal-content");
      if (!modal.classList.contains("hidden") && !modalContent.contains(event.target)) {
        closeModal(modal.id);
      }
    });
  });

  // Prevent modal from closing when clicking inside the modal content
  document.querySelectorAll(".modal-content").forEach((modalContent) => {
    modalContent.addEventListener("click", function(event) {
      event.stopPropagation();
    });
  });
</script>


{% endblock %}
