{% if current_user.role == "user" %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'admin_base.html' %}
{% endif %}

{% block title %}Add Subcategory{% endblock %}

{% block content %}
<div class="">
    <div class="min-h-screen py-0">
      <div class="container max-w-3xl px-4 sm:px-6 lg:px-8">
        <h1 class="text-2xl font-semibold text-gray-900 dark:text-white mb-6">Add Subcategory</h1>
        <div class="rounded-lg border border-gray-200 bg-white p-5 dark:border-gray-800 dark:bg-white/[0.03] md:p-8 shadow-sm animate-fade-in">
            <form method="post" action="{{ url_for('add_subcategory') }}">
            {{ form.hidden_tag() }}

            <!-- Subcategory Input -->

                <div class="mb-4">
                    {{ form.subcategory.label(class="block text-sm font-medium text-gray-900") }}
                    <div class="mt-2">
                        {{ form.subcategory(class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 border border-gray-300 placeholder-gray-400 focus:outline-none focus:ring-purple-600 focus:border-purple-600", placeholder="Subcategory", required=True) }}
                    </div>
                </div>
                
                <!-- Category Dropdown -->
            <div>
                {{ form.category.label(class="block text-sm font-medium text-gray-900") }}
                <div class="mt-1">
                    {{ form.category(class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 border border-gray-300 placeholder-gray-400 focus:outline-none focus:ring-purple-600 focus:border-purple-600", placeholder="Category", id="category", required=True) }}
                </div>
            </div>

                <div class="mt-6">
                    {{ form.submit(class="inline-flex justify-center rounded-lg bg-purple-500 px-4 py-2 text-base font-semibold text-white hover:bg-purple-400 focus:outline-none focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-blue-500 active:text-white/70 focus:ring-2 focus:ring-blue-600 focus:ring-offset-2") }}
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}
