<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
</head>
<body>
  <div id="quill-editor"></div>
  <textarea id="html" style="width:100%; height:100px; display:none;"></textarea>
  <button id="toggle">Toggle</button>
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
  <script>
    var quill = new Quill('#quill-editor', { theme: 'snow' });
    var html = document.getElementById('html');
    var isHtml = false;
    document.getElementById('toggle').onclick = function() {
      isHtml = !isHtml;
      if (isHtml) {
        html.value = quill.root.innerHTML;
        document.querySelector('.ql-container').style.display = 'none';
        html.style.display = 'block';
      } else {
        // Option 1
        // quill.root.innerHTML = html.value;
        // Option 2
        quill.clipboard.dangerouslyPasteHTML(html.value);
        html.style.display = 'none';
        document.querySelector('.ql-container').style.display = 'block';
      }
    };
  </script>
</body>
</html>
